---
import '../styles/global.css'
---

<div>
  <section>
    <div class="grid grid-cols-30 ml-10">
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40" ></div>
      <div class="w-0.5 h-screen bg-black opacity-40" ></div>
      <div class="w-0.5 h-screen bg-black opacity-40" ></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40" ></div>
      <div class="w-0.5 h-screen bg-black opacity-40" ></div>
      <div class="w-0.5 h-screen bg-black opacity-40" ></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
      <div class="w-0.5 h-screen bg-black opacity-40"></div>
    </div>
  </section>
</div>