---
import '../styles/global.css'
import HeroBackground from './HeroBackground.astro'
---

<div>
  <section class="mt-10">
    <div class="relative w-full h-screen">
      <HeroBackground />
      <div class="absolute inset-0 flex items-center px-6 sm:px-10 md:ml-20 z-10">
        <div class="aura aura-silver w-full max-w-sm sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl">
          <div class="card bg-white text-gray-900 rounded-lg w-full p-4 sm:p-6 md:p-8 lg:p-10 shadow-lg">
            <div class="card-body p-0">
              <h1 class="font-climate text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl tracking-wide break-words">
                Savandal
              </h1>
              <h2 class="font-italianno text-2xl sm:text-3xl md:text-[28px] lg:text-4xl xl:text-[56px]">
                Mac Robert
              </h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

