---
import '../styles/global.css'
---

<div>
  <section>
    <div class="relative inline-block">
      <h1 class="text-7xl font-bold font-stretch-50% leading-none">
        Mac Robert
      </h1>
      <h2 class="absolute inset-o flex items-center justify-center text-5xl font-serif">
        Savandal
      </h2>
    </div>
  </section>
</div>