---
interface Props {
  title: string;
  description?: string;
}
const { title, description = "My personal portfolio" } = Astro.props;
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description} />
<title>{title}</title>