---
import '../styles/global.css'
---

<footer>
  <div class="p-5 bg-gray-950 text-white flex gap-5 font-serif font-stretch-50%">
    <p class="text-9xl p-5">PORTFOLIO</p>
    <div class="flex flex-col p-5">
      <h3>Social Profiles</h3>
      <div class="grid grid-row-3">
        <a href="">Facebook</a>
        <a href="">Email</a>
        <a href="">LinkedIn</a>
      </div>
    </div>
    <div class="flex flex-col p-5">
      <h3>Projects</h3>
      <div class="grid grid-row-2">
        <a href="">Cafe Seventeen App</a>
        <a href="">Blog Post</a>
      </div>
    </div>
  </div>
</footer>