---
import '../styles/global.css'
---
<header class="bg-gray-600 rounded-4xl w-75 h-auto place-content-end mx-auto mt-4">
  <div class="flex justify-center gap-8 text-white m-4">
    <a href="" class="hover:text-gray-800">Home</a>
    <a href="" class="hover:text-gray-800">About</a>
    <a href="" class="hover:text-gray-800">Projects</a>
  </div>
</header>

