---
import '../styles/global.css'
---
<header class="bg-gray-600">
  <div class="flex justify-center gap-5 p-4 text-white">
    <a href="" class="hover:text-gray-800">Home</a>
    <a href="" class="hover:text-gray-800">About</a>
    <a href="" class="hover:text-gray-800">Projects</a>
  </div>
</header>

