---
import '../styles/global.css'
---
<header class="bg-gray-500">
  <div class="flex justify-center gap-5 p-4">
    <a href="" class="hover:text-blue-400">Home</a>
    <a href="">About</a>
    <a href="">Projects</a>
  </div>
</header>

